/* VARS */
:root {
  --color-text-primary: #403F3D;
  --color-text-inverse: #E1D4C9;
  --color-text-accent: #B0907A;
  --color-bg-page: #E1D4C9;
  --color-bg-container: #665F55;
  --color-bg-overlay: #403F3D50;
  --color-border-primary: #C1B6AD;
  --color-border-inverse: #665F55;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text-primary);
  background-color: var(--color-bg-page);
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

h1 {
  font-size: 72px;
  line-height: 1.05;
  font-weight: 600;
}

h2 {
  font-size: 60px;
  line-height: 1.25;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
}

section {
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.button-primary {
  width: 200px;
  background-color: var(--color-bg-page);
  border-radius: 100px;
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  padding-block: 20px;
  display: grid;
  grid-template-columns: max-content 0;
  gap: 0px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  svg {
    width: 16.5px;
    height: 16.5px;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease;
  }

  &:hover {
    gap: 8px;
    grid-template-columns: max-content 16.5px;

    svg {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

span.accent {
  font-style: italic;
  color: var(--color-text-accent);
}

/* HERO */
.hero {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  color: var(--color-text-inverse);
}

.hero > *:not(video) {
  max-width: 530px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* SLIDER */
.slider__heading {
  text-align: center;
  margin-bottom: 40px;
}
.slider__wrapper {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  gap: 40px;
}

.slider__arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.slider__arrow.right {
  transform: rotate(180deg);
}

.slider__slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.slide__content {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.slide__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}
.slider__pagination {
  display: flex;
  gap: 12px;
  margin-top: 40px;
  justify-content: center;
}
.slider__page {
  width: 40px;
  height: 4px;
  background-color: var(--color-border-primary);
  border: none;
  cursor: pointer;
  border-radius: 100px;

  &.active {
    background-color: var(--color-border-inverse);
  }
}

/* ABOUT SECTION */
.gallery {
  columns: 2;
  column-gap: 40px;
  margin-top: 40px;
}
.image-wrapper {
  overflow: hidden;
  border-radius: 20px;

  &.main {
    aspect-ratio: 660 / 590;
  }

  &.secondary {
    aspect-ratio: 660 / 430;
  }

  &:not(:last-child) {
    margin-bottom: 40px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: scale 0.3s ease-in-out;

    &:hover {
      scale: 1;
    }
  }
}
