/* VARS */
:root {
  --color-text-primary: #403F3D;
  --color-text-inverse: #E1D4C9;
  --color-text-accent: #B0907A;
  --color-bg-page: #E1D4C9;
  --color-bg-container: #665F55;
  --color-bg-overlay: #403F3D50;
  --color-border-primary: #C1B6AD;
  --color-border-inverse: #665F55;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-text-primary);
  background-color: var(--color-bg-page);
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

h1 {
  font-size: 72px;
  line-height: 1.05;
  font-weight: 600;

  .accent {
    font-style: italic;
  }
}

h2 {
  font-size: 60px;
  line-height: 1.25;
  font-weight: 600;

  .accent {
    font-style: italic;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
}

section {
  max-width: 1360px;
  margin: 0 auto;
}

.button-primary {
  width: 200px;
  background-color: var(--color-bg-page);
  border-radius: 100px;
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  padding-block: 20px;
  display: grid;
  grid-template-columns: max-content 0;
  gap: 0px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  svg {
    width: 16.5px;
    height: 16.5px;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease;
  }

  &:hover {
    gap: 8px;
    grid-template-columns: max-content 16.5px;

    svg {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/* HERO */
.hero {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  color: var(--color-text-inverse);
}

.hero h1 .accent {
  color: var(--color-text-accent);
}
.hero > *:not(video) {
  max-width: 530px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
